:root {
    --grad1: linear-gradient(169deg, rgba(20, 19, 19, 0.9839286056219363) 14%, rgba(0, 0, 0, 0.9867297260701156) 54%, rgba(29, 34, 34, 0.9867297260701156) 96%);
    --grad2: linear-gradient(to bottom, #171415, #191518, #1b171b, #1b181e, #1b1a22, #181a22, #161b22, #131b22, #11191e, #10171a, #0f1516, #0f1212);
    --grad3: linear-gradient(to right top, #333743, #1a3c4a, #004143, #05432a, #2f4009);
    --grad4: radial-gradient(circle, #384341, #324240, #2d413f, #26403e, #1f3f3d, #1b3d3b, #173a38, #123836, #113431, #112f2d, #102b28, #0f2724);
}

html,
body {
    letter-spacing: 0px;
    background: var(--grad1);
    width: 100%;
    padding: 0rem;
    border: 0rem;
    margin: 0rem;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -1px;
}

hr {
    margin: 8px;
}


a:link {
    text-decoration: none;
}

/* Navigation Part */

.navig {
    position: fixed;
    min-width: 80%;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    background-color: grey;
    border-radius: 5px;
    opacity: 0.7;
    z-index: 1000;
}

.navig div {
    width: 20%;
}

.navig a {
    color: black;
}

.navig a:hover {
    color: white;
    text-shadow: 3px 3px 3px rgb(0, 0, 0), -3px -3px 3px rgb(0, 0, 0), -3px 3px 3px rgb(0, 0, 0), 3px -3px 3px rgb(0, 0, 0);
    transform: 1.25;
}


/* Introduction part */


.intro-1 {
    background-image: url("../image/210966.jpg");
    background-size: cover;
}

.head-1 {
    text-align: center;
    color: white;
    padding: 8rem 1rem 4rem 1rem;

}


.head-2 {
    color: white;
    padding: 3rem 1rem 1rem 1rem;

}


.head-2 div {
    border-radius: 10px;
    border-left: 4px dashed rgb(43, 41, 41)
}

.head-2 div div {
    border-radius: 8px;
    padding: 0px 0px 0px 6px;
    border-left: 4px solid rgb(95, 93, 93);
}

.head-3 {
    color: white;
    padding: 3rem 1rem 7rem 1rem;

}

.head-3 div {
    border-radius: 10px;
    border-right: 4px dashed rgb(43, 41, 41)
}

.head-3 div div {
    text-align: right;
    border-radius: 8px;
    padding: 0px 6px 0px 0px;
    border-right: 4px solid rgb(95, 93, 93);
}

.intro-end {
    background-color: #000000;
    font-weight: 500;
    color: white;
    margin: auto;
    padding-top: 20px;
}


/* Education Part */

.intro-2 {
    padding: 8%;
    background: url("../image/26102.jpg");
<<<<<<< HEAD
    background-size: cover;
=======
    background-color: rgba(0,0,0,0.1);
    background-size:cover;
>>>>>>> b8f506ca12d7861fa43339e7e470f3cfdac08b9d
}

.intro-book {
    color: bisque;
}

.intro-book div h2 {
    margin-top: 0px;
    color: bisque;
}


.edu-head {
    padding: 20px 15px 30px 15px;
}


.inst {
    padding: 35px 5px;
}

.inst .row .col-sm-2 {
    padding-left: 0px;
}

.inst img {
    width: 100%;
    min-width: 75px;
    max-width: 160px;
}

.ins-name {
    margin: auto;
    padding-left: 5px;
}

/* Co-Curicular Part */

.co-curicular {
    background: var(--grad2);
    margin-top: -10px;
    padding: 0% 10px;
    color: wheat;
}

.co-head {

    position: relative;
    margin-top: -10%;
    padding-bottom: 30px;
}

.co-curicular .row {
    margin: 0px;
}

.co-curicular img {
    width: 100%;
    max-width: 125px;
    min-width: 75px;
}

.co-inst {
    padding: 30px 10px;
}

.co-inst-logo {
    padding: 0px 20px 20px 0px;
}

.co-inst-head {
    margin: auto 0%;
}

/* Project Part */

.project {
    margin: 0;
    padding: 0;
    border: 0;
    background: var(--grad3);
    color: wheat;
}

.project .project-head {
    color: wheat;
    position: relative;
    margin-top: -10%;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.project-head div {
    width: 200px;
    margin: 10px;
    padding: 15px;
    box-shadow: 5px 5px 5px wheat;
}

.p3-box {
    margin: 0% 10% 0% 10%;
}

.p3-box a {
    color: white;
}

.p-box {
    margin: 0px 5px 80px 5px;
}

.p-box .d1 {
    position: relative;
    background: var(--grad1);
    border: 8px double rgb(168, 187, 151);
    border-radius: 3px;
    box-shadow: 15px 15px 15px black;
    overflow: hidden;
}

.d1 img {
    width: 100%;
    transition: transform 1s ease;
}

.content {
    position: absolute;
    top: -400%;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    background-color: black;
    opacity: 0.8;
    transition: all 0.6s;
}

.p-box :hover .content {
    top: 0;
}

.p-box :hover img {
    transform: scale(1.2);
}

.content h5 {
    background-color: #062e30;
    padding: 6px;
    margin-bottom: 5px;
    border-bottom: 4px double wheat;
}

.content p {
    padding: 20px 5px;
}

/*Gallery Part */

.gallery {
    background-color: rgba(0, 0, 0, 0.562);
    background: var(--grad4);
}

.gallery-head {
    display: flex;
    justify-content: center;
}

.gallery-head h1 {
    color: rgb(1, 255, 65);
    width: 220px;
    position: relative;
    margin-top: -40px;
    padding: 15px;
    border: 4px solid rgba(28, 37, 31, 0.5);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.699);
    box-shadow: 5px 5px 5px rgb(1, 255, 65), -5px -5px 5px rgba(1, 255, 65), 5px -5px 5px rgb(1, 255, 65), -5px 5px 5px rgb(1, 255, 65);
}

.gallery .row .col-md-4 {
    padding: 0px;
}

.img-1 {
    margin: 12%;
    padding: 0px;
    border: 3px solid black;
    border-radius: 2px;
    box-shadow: 10px 10px 20px black;
    transition: 1.5s;
}

.img-1 img {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.img-2 {
    margin: 5%;
    padding: 0px;
    border: 3px solid black;
    border-radius: 2px;
    box-shadow: 15px 15px 15px black;
    transition: 1.5s;
}

.img-2 img {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.img-3 {
    margin: 12%;
    padding: 0px;
    border: 3px solid black;
    border-radius: 2px;
    box-shadow: 10px 10px 20px black;
    transition: 1.5s;
}

.img-3 img {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.img-1:hover {
    transform: scale(1.2);
}

.img-2:hover {
    transform: scale(1.12);
}

.img-3:hover {
    transform: scale(1.2);
}



/*Footer Part */

.fqa {
    color: white;
    font-size: 1rem;
    background-color: black;
    padding-top: 25px;
    padding-bottom: 15px;
}

.fqa .details {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px 0px;
}


.fqa .details p {
    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 4.2vw;
    }

    h5 {
        font-size: 3.7vw;
    }

    h6 {
        font-size: 3.35vw;
    }

    p {
        font-size: 3vw;
    }

}


@media only screen and (max-width: 576px) {

    .inst img {
        width: 100%;
        min-width: 80px;
        max-width: 90px;
    }

    .gallery-head h1 {
        width: 160px;
    }

}

@media only screen and (max-width: 420px) {
    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 6.5vw;
    }

    h3 {
        font-size: 5.7vw;
    }

    h5 {
        font-size: 5vw;
    }

    h6 {
        font-size: 4vw;
    }

    p {
        font-size: 3.5vw;
    }

    .inst img {
        width: 100%;
        min-width: 65px;
        max-width: 80px;
    }

    .project-head div {
        width: 150px;

    }
}

@media only screen and (max-width: 330px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    p {
        font-size: 15px;
    }

    .project-head div {
        width: 130px;
    }

    .gallery-head h1 {
        width: 120px;
    }
}
